{% extends "base.html.twig" %}

{% block title %}
{{parent()}}
-
{{title}}
{% endblock %}

{% block body %}
<div class="container">
	<form action="/admin-post/form/id_post/{{post.getId}}" method="POST">
		<div class="mb-3 form-group">
			<input type="hidden" class="form-control" name="id" id="id" value="{{post.getId}}">
		</div>
		<div class="mb-3 form-group">
			<label for="title" class="form-label">Titre</label>
			<input type="text" class="form-control" name="title" id="title" value="{{post.getTitle}}" required>
		</div>
		<div class="mb-3 form-group">
			<label for="chapo" class="form-label">Chapô</label>
			<input type="text" class="form-control" name="chapo" id="chapo" value="{{post.getChapo}}" required>
		</div>
		<div class="btn-group btn-group-toggle post-cat-btns" data-toggle="buttons">
			{% for category in categories %}
			<label class="btn btn-primary">
				<input type="checkbox" id="categories" name="categories[{{category.name}}]" value="{{category.id}}" {%
					if checked_categories[category.name] %} checked="checked" {% endif %}>
				{{category.name}}
			</label>
			{% endfor %}
		</div>
		<div class="mb-3 form-group">
			<textarea class="form-control" name="content" id="content" cols="30" rows="10"
				required>{{post.getContent}}</textarea>
		</div>
		<div class="form-group">
			<div class="custom-control custom-switch">
				<input type="checkbox" class="custom-control-input" name="active" id="active" {% if post.active %}
					checked {% endif %}>
				<label class="custom-control-label" for="active">Visible</label>
			</div>
		</div>
		<input type="hidden" id="post-form-submit" value="true">
		<input type="submit" class="btn btn-success">
	</form>
	<br>
	<a href="/admin-post/list">
		<button class="btn btn-secondary">Retour à la liste</button>
	</a>
</div>

{% endblock %}