{% extends "base.html.twig" %}

{% block title %}
	{{parent()}}
	-
	{{title}}
{% endblock %}

{% block body %}
	<h1 class="posts-title jumbotron">{{title}}</h1>
	{% if message !=[] %}
		<div class="alert alert-{{message.success?'success':'alert'}}" role="alert">
			{{message.content}}
			<a href="index.php?admin-post-form={{message.id_post}}">
				<button class="btn btn-outline-primary">
					Voir
				</button>
			</a>
		</div>
	{% endif %}
	<div class="container">
		<form action="index.php?admin-post-form={{id_post}}" method="POST">
			{% for input in inputs %}
				<div class="mb-3 form-group">
					{% if input.hidden == false %}
						<label for="{{input.field}}" class="form-label">{{input.label}}</label>
					{% endif %}
					{% if input.type == 'text' %}
						<input type="text" class="form-control" name="{{input.field}}" id="{{input.field}}" value="{{input.value}}" {% if input.hidden %} hidden {% endif %}>
					{% elseif input.type == 'checkbox'%}
						<div class="mb-3 form-group">
							<div class="form-check">
								{% for category in input.value %}
									<label class="form-check-label">
										<input class="form-check-input" type="checkbox" value="{{category.id}}" {% if input.checked_categories[category.name] %} checked="checked" {% endif %}>
										{{category.name}}
									</label>
								{% endfor %}
							</div>
						</div>
						<pre>
							
						</pre>
					{% elseif input.type == 'textarea'%}
						<textarea class="form-control" name="{{input.field}}" id="{{input.field}}" cols="30" rows="10">{{input.value}}</textarea>
					{% elseif input.type == 'switch' %}
						<div class="form-check form">
							<input class="form-check-input" type="checkbox" id="{{input.field}}" name="{{input.field}}" {% if input.value > 0 %} checked {% endif %}>
						</div>
					{% endif %}
				</div>
			{% endfor %}
			<input type="hidden" id="post-form-submit" value="true">
			<input type="submit" class="btn btn-success">
		</form>
		<a href="index.php?admin-post=list">
			<button class="btn btn-info">Retour à la liste</button>
		</a>
	</div>

{% endblock %}
