{% extends "base.html.twig" %}

{% block title %}
{{parent()}}
-
{{title}}
{% endblock %}

{% block body %}
{% for message in messages %}
{% if message.type == "error" %}
<div class="alert alert-danger">
    {% elseif message.type == "success" %}
    <div class="alert alert-success">
        {% endif %}
        {{message.content}}
    </div>
    {% endfor %}

    <div class="container-fluid">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Commentaire</th>
                    <th>Auteur</th>
                    <th>Article</th>
                    <th>Créé le :</th>
                    <th>Visible</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                <tr>
                    <td>{{comment.content}}</td>
                    <td>{{comment.author_name}}</td>
                    <td>
                        <a href="index.php?post={{comment.id_post}}" target="_blank">
                            {{comment.post_title}}
                        </a>
                    </td>
                    <td>{{comment.created_at|date('d-m-Y')}}</td>
                    <td>
                        <form action="index.php?admin-comment=toggle" method="POST">
                            <input type="hidden" name="id_comment" value="{{comment.id}}">
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <input type="submit" class="btn btn-secondary 
                                {% if comment.active %} active" value="Oui" {% else %} " value=" Non" {% endif %}>
                            </div>
                        </form>
                    </td>
                    <td width="250">
                        <div class="row">
                            <form action="index.php?admin-comment=delete&amp;id_comment={{comment.id}}" method="POST"
                                onclick="return confirm('Êtes-vous sûre ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove">Supprimer</span>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}