{% extends "base.html.twig" %}

{% block title %}
{{parent()}}
-
{{title}}
{% endblock %}

{% block body %}
<h1 class="posts-title jumbotron">{{title}}</h1>
{% for message in messages %}
{% if message.type == "error" %}
<div class="alert alert-danger">
    {% elseif message.type == "success" %}
    <div class="alert alert-success">
        {% endif %}
        {{message.content}}
    </div>
    {% endfor %}

    <div class="container-fluid">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Commentaire</th>
                    <th>Auteur</th>
                    <th>Article (id)</th>
                    <th>Créé le :</th>
                    <th>Visible</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                <tr>
                    <td>{{comment.content}}</td>
                    <td>{{comment.idAuthor}}</td>
                    <td>{{comment.idPost}}</td>
                    <td>{{comment.createdAt}}</td>
                    <td>{{comment.active}}</td>
                    <td width="250">
                        <div class="row">
                            <form action="index.php?admin-comment=delete&amp;id_comment={{comment.id}}" method="POST"
                                onclick="return confirm('Êtes-vous sûre ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove">Supprimer</span>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>