{% extends "base.html.twig" %}

{% block title %}
{{parent()}}
-
{{title}}
{% endblock %}

{% block body %}

<div div class="container">
    <form action="index.php?user-login=true" method="POST">
        {% for key, input in inputs %}
        <div class="mb-3 form-group">
            <label for="{{key}}" class="form-label">{{input.label}}</label>
            <input type="{{input.type}}" class="form-control" name="{{key}}" id="{{key}}" value="{{input.value}}">
        </div>
        {% endfor %}
        <input type="hidden" id="user-form-submit" value="true">
        <input type="submit" class="btn btn-success">
    </form>
    <a href="index.php">
        <button class="btn btn-info">Retour à l'acceuil</button>
    </a>
</div>

{% endblock %}