{% extends "base.html.twig" %}

{% block title %}
{{parent()}}
-
{{title}}
{% endblock %}

{% block body %}
<div div class="container">
    <div class="login-form">
        <form action="/user/login" method="POST">
            <div class="mb-3 form-group">
                <label for="name" class="form-label">Pseudo</label>
                <input type="text" class="form-control {{errors.name ? 'is-invalid':''}}" name="name" id="name"
                    value="{{user.getName}}">
                {% if errors.name %}
                <div class="invalid-feedback">
                    {{errors.name|raw}}
                </div>
                {% endif %}
            </div>
            <div class="mb-3 form-group">
                <label for="pwd" class="form-label">Mot de passe</label>
                <input type="password" class="form-control {{errors.pwd ? 'is-invalid':''}}" name="pwd" id="pwd">
                {% if errors.pwd %}
                <div class="invalid-feedback">
                    {{errors.pwd|raw}}
                </div>
                {% endif %}
            </div>
            <input type="hidden" id="user-form-submit" value="true">
            <input type="submit" class="btn btn-success">
        </form>
        <p>Pas encore inscrit ? <a href="/user/form">Inscription</a></p>
    </div>
    <div>
        <a id="lost-pwd-btn" href="">Mot de passe oublié ?</a>
        <div class="lost-pwd-form">
            <form action="/user/lost-pwd" method="POST">
                <div class="input-group mb-3">
                    <input type="email" class="form-control {{errors.email ? 'is-invalid':''}}" name="email" id="email"
                        value="{{user.getEmail}}" placeholder="Saissez votre email">
                    {% if errors.email %}
                    <div class="invalid-feedback">
                        {{errors.email|raw}}
                    </div>
                    {% endif %}
                    <button class="btn btn-secondary" type="submit" id="button-addon2">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
    <a href="/">
        <button class="btn btn-outline-info backToHomeBtn">Retour à l'accueil</button>
    </a>


</div>

{% endblock %}