{% extends "base.html.twig" %}

{% block title %}
{{parent()}}
-
{{title}}
{% endblock %}

{% block body %}
<div div class="container">
    <div class="login-form">
        <form action="#" method="POST">
            <div class="mb-3 form-group">
                <label for="pwd" class="form-label">Mot de passe</label>
                <input type="password" class="form-control {{errors.pwd ? 'is-invalid':''}}" name="pwd" id="pwd">
                {% if errors.pwd %}
                <div class="invalid-feedback">
                    {{errors.pwd|raw}}
                </div>
                {% endif %}
            </div>
            <div class="mb-3 form-group">
                <label for="confirm" class="form-label">Confirmation</label>
                <input type="password" class="form-control {{errors.confirm ? 'is-invalid':''}}" name="confirm"
                    id="confirm">
                {% if errors.confirm %}
                <div class="invalid-feedback">
                    {{errors.confirm|raw}}
                </div>
                {% endif %}
            </div>
            <input type="submit" class="btn btn-success">
        </form>
        <br>
        <a href="/">
            <button class="btn btn-outline-info">Retour à l'acceuil</button>
        </a>
    </div>
</div>

{% endblock %}