{% extends "base.html.twig" %}

{% block title %}
{{parent()}}
-
{{title}}
{% endblock %}

{% block body %}
<div div class="container">
    <div class="login-form">
        <form action="#" method="POST">
            {% for key, input in inputs %}
            <div class="mb-3 form-group">
                <label for="{{key}}" class="form-label">{{input.label}}</label>
                <input type="{{input.type}}" class="form-control" name="{{key}}" id="{{key}}" value="{{input.value}}">
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-success">
        </form>
        <br>
        <a href="/">
            <button class="btn btn-outline-info">Retour à l'acceuil</button>
        </a>
    </div>
</div>

{% endblock %}