{% block contact_form %}
<div class="container">
    <h3 class="form-title">{{contact_form.title}}</h3>
    <form action="#" method="POST">
        {% if not contact_form.user_logged %}
        <div class="mb-3 form-group">
            <input type="text" name="{{contact_form.inputs.name.name}}" class="form-control"
                placeholder="{{contact_form.inputs.name.placeholder}}">
        </div>
        <div class="mb-3 form-group">
            <input type="email" name="{{contact_form.inputs.email.name}}" class="form-control"
                placeholder="{{contact_form.inputs.email.placeholder}}">
        </div>
        {% endif %}
        <div class=" mb-3 form-group">
            <input type="text" name="{{contact_form.inputs.content.name}}" class="form-control"
                placeholder="{{contact_form.inputs.content.placeholder}}">
        </div>

        <input type="submit" class="btn btn-success">
    </form>
</div>
{% endblock %}