{% extends "base.html.twig" %}

{% block title %}
{{parent()}}
-
{{post.title}}
{% endblock %}

{% block body %}

<h2 class="post-chapot">{{post.chapo}}</h2>
<em class="post-date">

	{% if post.updatedAt is not null %}
	Dernière mise à jour :
	{{post.updatedAt|date('d-m-Y')}}
	{% else %}
	Créé le :
	{{post.createdAt|date('d-m-Y')}}
	{% endif %}

	par :
	{{post.author.name}}
</em>
<div class="divider bg-primary"></div>
<p class="post-content">{{post.content}}</p>
{% include "includes/post-comments.html.twig" %}
<br>
<a href="/post/list">
	<button class="btn btn-secondary">
		Retour à la liste
	</button>
</a>
{% endblock %}