{% extends "base.html.twig" %}

{% block title %}
{{parent()}}
-
{{post.title}}
{% endblock %}

{% block body %}
<h1 class="post-title jumbotron">{{post.title}}</h1>

<h2 class="post-chapot">{{post.chapo}}</h2>
<p class="post-date">

	{% if post.updated_at is defined %}
	Dernière mise à jour :
	{{post.created_at|date('d-m-Y')}}
	{% else %}
	Créé le :
	{{post.created_at|date('d-m-Y')}}
	{% endif %}
	par :
	{{post.author.name}}
</p>
<p class="post-content">{{post.content}}</p>
{% include "includes/post-comments.html.twig" %}
{% endblock %}